body {
  /* Color shit, dark mode */
  background-color: Canvas;
  color: CanvasText;
  color-scheme: light dark;
  display: table-cell;
  vertical-align: middle;
}

html {
  display: table;
  margin: auto;
}

button {
  padding: 20px 60px;
  font-size: 24px;
  display: block;
  margin: 0 auto;
  width: 100%;
}
