body {
	background-color: #343541;
	color: #dcdcdc;
	font-family: "Segoe UI", Tahome, Geneva, Verdana, sans-serif;
  font-size: 24px;
	line-height: 1.6;
	padding: 20px;
	margin: 0;
}

h1, h2, h3 {
	color: #ffffff;
}

.center {
  display: flex;
  justify-content: center;
  height: 85vh;
}

.middle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
